<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>KPI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
</head>

<body>
    <!-- HEADER -->
    <section class="header">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="index.html">KPI tizimi</a>
                    </li>
                    <li>
                        <a href="kadr.html">Kadrlar bolimi</a>
                    </li>
                    <li>
                        <a href="http://ipitvet.uz/tuzulma/">Institut tuzilmasi</a>
                    </li>
                    <li>
                        <a href="reting.html">Reyting</a>
                    </li>
                    <li>
                        <a href="contact.html">Biz bilan bog‘lanish</a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="search">
                                <input type="text" />
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <select name="dog-names" id="dog-names">
                  <option value="rigatoni">O‘ZB</option>
                  <option value="dave">RUS</option>
                  <option value="pumpernickel">ENG</option>
                </select>
                        </a>
                    </li>
                </ul>

                <div class="nav_avatar">
                    <div class="qungroq">
                        <span>
                <svg
                  width="18"
                  height="20"
                  viewBox="0 0 18 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.00003 20C10.3797 20 11.4989 18.8809 11.4989 17.5H6.5012C6.5012 18.8809 7.62034 20 9.00003 20ZM17.4137 14.152C16.659 13.341 15.2469 12.1211 15.2469 8.125C15.2469 5.08984 13.1188 2.66016 10.2492 2.06406V1.25C10.2492 0.559766 9.68987 0 9.00003 0C8.31018 0 7.75081 0.559766 7.75081 1.25V2.06406C4.88128 2.66016 2.75315 5.08984 2.75315 8.125C2.75315 12.1211 1.34104 13.341 0.586355 14.152C0.35198 14.4039 0.248074 14.7051 0.250027 15C0.254324 15.6406 0.757058 16.25 1.50393 16.25H16.4961C17.243 16.25 17.7461 15.6406 17.75 15C17.752 14.7051 17.6481 14.4035 17.4137 14.152V14.152Z"
                    fill="#C5C7CD"
                  />
                </svg>
              </span>
                    </div>
                    <div class="new">
                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle
                  cx="5.25"
                  cy="5.5"
                  r="4.5"
                  fill="#3751FF"
                  stroke="#F7F8FC"
                  stroke-width="1.5"
                />
              </svg>
                    </div>
                    <div class="nav_avatar-img" id="avatar">
                        <img src="images/avatar.png" alt="" />
                    </div>
                </div>
            </nav>
            <div class="nav_avatar-box" id="nav_avatar-box">
                <div class="none">
                    &times;
                </div>
                <a href="#">
                    <img src="images/shaxsiy.svg" alt="" /> Shaxsiy malumotlar
                </a>
                <a href="#" class="bor">
                    <img src="images/sozlama.svg" alt="" /> Sozlama
                </a>
                <div class="chiqish">
                    <a href="#">
                        <img src="images/chiqish.svg" alt="" /> Chiqish
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- /HEADER -->

    <!-- HOME -->

    <section class="shaxsiy">
        <div class="container">
            <div class="shaxsiy_card">
                <div class="shaxsiy_left">
                    <div class="shaxsiy_title">
                        <h1>Sozlama</h1>
                    </div>
                    <div class="shaxsiy_input">
                        <form action="#  ">
                            <input type="text" placeholder="Ism:" />
                            <input type="text" placeholder="Familiya:" />
                            <input type="text" placeholder="Otasining ismi:" />
                            <input type="tel" name="phone" placeholder="Telefon raqami:" />

                            <input type="email" placeholder="Email:" />
                        </form>
                    </div>
                </div>
                <div class="shaxsiy_right">
                    <div class="shaxsiy_avatar">
                        <img src="images/avatar1.png" alt="" />
                    </div>
                    <div class="shaxsiy_file">
                        <span>
                Rasm o’zgartirish
                <input type="file" multiple class="" />
              </span>
                    </div>
                    <div class="shaxsiy_input">
                        <form action="#">
                            <input type="text" placeholder="Boshqarma:" />
                            <input type="text" placeholder="Bo‘lim:" />
                            <input type="text" placeholder="Lavozimi:" />
                        </form>
                    </div>
                    <div class="shaxsiy_btn">
                        <button class="saqlash">Saqlash</button>
                        <button class="bekor">Bekor qilish</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /HOME -->

    <section class="footer">
        <div class="container">
            <div class="footerTop">
                <div class="col">
                    <h1>Metodik ta’minot platformasi</h1>
                    <a href="index.html" class="logo">
                        <img src="images/logo.png" alt="Logo" />
                        <p>
                            PEDAGOGIK INNOVATSIYALAR,
                            <br /> KASB-HUNAR TA’LIMI BOSHQARUV HAMDA
                            <br /> PEDAGOG KADRLARNI QAYTA TAYYORLASH
                            <br /> VA ULARNING MALAKASINI OSHIRISH INSTITUTI
                        </p>
                    </a>
                    <div class="text_elon">
                        <p>
                            Platformada e’lon qilingan materiallar Institutning intellektual mulki hisoblanadi. Professional ta’lim muassasalarida faoliyat olib borayotgan pedagoglardan tashqari barcha uchun ulardan nusxa kо‘chirish, tarqatish va boshqa shakllarda foydalanish faqat
                            Institutning yozma roziligi bilan amalga oshiriladi.
                        </p>
                    </div>
                </div>
                <div class="col manzil">
                    <div class="row">
                        <span id="bog'lanish">Telefon</span>
                        <a href="tel:+998712469037" class="tel">+998 71 246-90-37</a>
                    </div>
                    <div class="row">
                        <span>Email</span>
                        <a href="mailto:pedagoginnovatsiyalar@edu.uz" class="mail">
                pedagoginnovatsiyalar@edu.uz
              </a>
                    </div>
                    <div class="row">
                        <span>Manzil</span>
                        <a target="_blank" href="https://yandex.uz/maps/-/CCUeEIRTGC" class="location">
                Toshkent shahar, Olmazor tumani, Ziyo ko‘chasi, 76-uy
              </a>
                    </div>
                </div>
            </div>
            <hr />
            <div class="footerBottom">
                <div class="left">
                    <p>
                        © 2021 Metodik ta’minot platformasi. Barcha huquqlar himoyalangan.
                    </p>
                </div>
                <div class="right">
                    <div class="text">
                        <span>Design: Сардорбек Хакимов</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="main.js"></script>
    <script>
        function addClassElementEvent(element, className, event) {
            let elements = document.querySelectorAll(element)

            for (var i = 0; i < elements.length; i++) {
                elements[i].addEventListener(event, function(event) {;
                    [].forEach.call(elements, function(el) {
                        el.classList.remove(className)
                    })
                    this.classList.add(className)
                })
            }
        }

        addClassElementEvent('.card_boxs', 'active', 'click')

        //NAV_AVATAR

        document.getElementById('avatar').addEventListener('click', function() {
            document.querySelector('.nav_avatar-box').style.display = 'block'
        })

        document.querySelector('.none').addEventListener('click', function() {
            document.querySelector('.nav_avatar-box').style.display = 'none'
        })
    </script>
</body>

</html>